{% extends 'annonces/base.html' %}

{% block title %}{{ category_label }}{% endblock %}

{% block content %}
  <h1>{{ category_label }}</h1>
  <p>Découvrez les annonces dans la catégorie {{ category_label }}.</p>
  {% if annonces %}
    {% for a in annonces %}
      <div class="card">
        <h2><a href="{{ a.get_absolute_url }}">{{ a.titre }}</a></h2>
        <p>{{ a.ville }} {{ a.code_postal }}</p>
        <p><strong>{{ a.prix }} €</strong></p>
      </div>
    {% endfor %}
  {% else %}
    <p>Aucune annonce dans cette catégorie.</p>
  {% endif %}
{% endblock %}
